<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Salamander Suzy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4FB09081F0717C500909664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FB09221F0717C600909664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FB092D1F0717C600909664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
